body {
    font-family: Roboto, sans-serif;
    margin: 30px;
}
h1 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 20px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
